@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white: #ebf8ff;
  --black: #051923;
  --blue: #0250b6;
  --yellow: #ffcf0a;
  --background-light: #ebf8ff;
  --background-dark: #051923;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--background-light);
  color: var(--black);
  font-family: "Fira Sans";
  display: flex;
  justify-content: center;
  align-items: center;
}

body.show-elements::before {
  display: all;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  z-index: 1;
  position: absolute;
  animation: opcacity 100ms ease-in;
  transition: opacity ease-in;
  opacity: 0.9;
}
.show-search {
  width: 100%;
  height: 10%;
  display: flex;
}
.search-wrapper {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#search-label {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5dde3;
  border-radius: 20px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 25px;
  position: relative;
}
#search-box {
  height: 100%;
  flex: 1;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding-left: 5px;
}
#search-box:focus {
  outline: none;
}
#search-box:focus::placeholder {
  color: #9ea5a9;
}
.drop-down {
  display: none;
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 200px;
  padding: 25px;
  padding-top: 50px;
  background-color: #222222;
  z-index: -1;
  border-radius: 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.current-location {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
#set-current-location {
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

#current-location-icon {
  height: 20px;
}
.container {
  position: relative;
  width: 987px;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}
.loading::after {
  display: all;
  content: "";
  position: absolute;
  height: 110%;
  width: 110%;
  z-index: 1;
  background-color: #ebf8ff;
  opacity: 0.9;
}
.loading-ring {
  position: absolute;
  top: 10%;
}
.lds-ring {
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  z-index: 2;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;

  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #051923;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #051923 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.search img {
  width: 20px;
  transition: all 500ms ease-in;
  cursor: pointer;
}
.search > img:hover {
  animation: searchIcon 500ms ease-in-out;
}
.top-section {
  width: 100%;
  display: flex;
  /* flex: 1.5; */
  justify-content: space-between;
  align-items: flex-start;
  z-index: -2;
}

.top-left {
  width: 520px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.current-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: content 700ms ease-in-out;
}

.current-status {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
}
#current-location,
.current-status > h3 {
  font-size: 36px;
}
.current-temperature {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#degree-16 {
  position: absolute;
  top: 15px;
  left: 80px;
}
#current-temp {
  height: 80%;
  font-size: 72px;
}
.cat-says {
  width: 256px;
}
#about-cat {
  font-size: 24px;
  pointer-events: none;
}

.cta {
  width: 465px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: content 700ms ease-in-out;
}
.cta > button {
  width: 204px;
  height: 54px;
  font-size: 32px;
  font-weight: 700;
  cursor: pointer;
  pointer-events: all;
}
#hourly-cta {
  background-color: var(--background-dark);
  color: var(--white);
}
#daily-cta {
  background-color: var(--background-light);
  color: var(--black);
  border: 1.5px solid var(--black);
}
.hourly-status {
  width: 465px;
  height: 76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}

.hourly-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.hourly-icon {
  width: 99.8%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.top-right {
  width: 466px;
  height: 443px;
  display: flex;
  justify-content: right;
  align-items: flex-start;
  position: relative;
}
.cat-section {
  display: none;
}
#cat-img {
  height: 90%;
  animation: scaleAnimation 700ms ease-in-out;
  pointer-events: none;
}
#drops {
  position: absolute;
  top: -50px;
  right: 200px;
  transform-origin: top;
  animation: drops 700ms ease-in-out;
  pointer-events: none;
}
.conditions-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.conditions-parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards {
  width: 204px;
  height: 203px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1.5px solid var(--black);
  padding: 15px;
  animation: content 700ms ease-in;
  pointer-events: all;
}
.cards:hover {
  cursor: pointer;
}
.cards > h6 {
  font-size: 20px;
}
.cards > img {
  pointer-events: none;
}
.values {
  font-size: 48px;
  font-weight: 700;
}
.unit {
  font-size: 24px;
  font-weight: 700;
}
.feels-like-value {
  position: relative;
}
#degree-12 {
  position: absolute;
  top: 10px;
}

.cta > button,
.cards {
  box-shadow: 0px 4px 4px 0px rgba(5, 25, 35, 0.25);
}

@keyframes scaleAnimation {
  0% {
    /* filter: blur(7px); */
    /* opacity: 0.3; */
    transform: scale(1);
  }
  50% {
    /* filter: blur(5px); */
    transform: scale(1.1);
  }
  100% {
    /* filter: blur(0px);
    opacity: 1; */
    transform: scale(1);
  }
}

@keyframes drops {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes content {
  0% {
    opacity: 0.3;
    filter: blur(5px);
    /* transform: scale(1); */
  }
  50% {
    /* transform: scale(1.05); */
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    /* transform: scale(1); */
  }
}
@keyframes searchIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes opcacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.9;
  }
}
